
@{
    ViewData["Title"] = "NotAuthorized";
}

<h2>Não esta autoziado a executar essa acção</h2>

<div class="body-forbidden">
    <div class="gandalf">
        <div class="fireball"></div>
        <div class="skirt"></div>
        <div class="sleeves"></div>
        <div class="shoulders">
            <div class="hand left"></div>
            <div class="hand right"></div>
        </div>
        <div class="head">
            <div class="hair"></div>
            <div class="beard"></div>
        </div>
    </div>

    <div class="message">
       <p>Verifica a URL ou tenta outra página.</p>
    </div>
</div>